nav {
    width: 100%;
    font-size: 3rem;
    color: black;
    margin-bottom: 50px;
    background-color: lightblue;
    height: auto;
    font-family: 'Sanchez', serif, cursive;
  }

  h2 {
      padding: 20px;
      text-align: center;
  }
  
  nav li {
    display: inline-block;
    padding: 26px 0;
    width: 25%;
    text-align: center;
    margin-left: 15%;
  }
  
  ul {
    padding-left: 0px;
  }